<div class="navbar">
  <a href="/" class="navbar-header">filemanager</a>
</div>
<div class="main">
  <div class="side-info">
    <button class="side-info-button new-folder-js">nowy folder</button>
    {{#if paths}}
    <button class="side-info-button new-folder-name-js">zmiana nazwy folderu</button>
    {{/if}}
    <button class="side-info-button new-file-js">nowy plik tekstowy</button>
    <form class="upload-form" enctype="multipart/form-data" method="post" action="/upload">
      <input type="file" multiple required accept="image/*" name="inputfile" class="input-file">
      <button class="side-info-button" type="submit"> upload </button>
    </form>

  </div>
  <div class="side-folder-files">
    {{#if Message}}
    <div class="info-msg">
      <p class="info-p">{{Message}}</p>
      <button class="info-btn">X</button>
    </div>
    {{else}}
    {{/if}}
    <form method="post">
      <a href="/moveHome">home</a>
      {{#each paths}}
      &gt;<button class="path-button" formaction="/pathChange" name="path" type="submit" value="{{this}}">{{getNamePath
        this}}</button>
      {{/each}}
    </form>
    {{!-- <a href=" /move" name="{{this}}">{{this}}</a> --}}

    </form>
    <div class="folders-div">
      {{#each folders}}
      <div class="folders">
        <form action="/deleteFolder" class="form-css delete-folder" method="post">
          <img src="../images/folder.png" alt="folders-img" class="folders-img">
          <input type="hidden" name="id">
          <button onclick="deleteFolder('{{this}}') " class="folders-btn" type="button">X</button>
          <br>
          <div style="display: flex; justify-content:center;">
            <button class="folders-name" formaction="/move" name="root" type="submit" value="/{{this}}">
              {{this}}</button>
          </div>
        </form>
      </div>
      {{/each}}
    </div>
    <div class="files-div">
      {{#each files}}
      <div class="files">
        <form action="/deleteFile" class="form-css delete-form" method="post">
          <img src="{{getIconPath this}}" alt="files-img" class="files-img">
          <button onclick="deleteFile('{{this}}')" class="files-btn" type="button">X</button>
          <br>
          <button class="folders-name" formaction="{{txtGraphFile this}}" name="root" type="submit"
            value="{{root}}/{{this}}">
            {{this}}</button>
          <input class="hidden-js" type="hidden" name="id" value="{{this}}">
        </form>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<dialog class="folder-dialog">
  <form action="/savefolder" method="post" class="dialog-form">
    <p class="dialog-p">nazwa nowego folderu</p>
    <input type="hidden" name="root" value="{{root}}" />
    <input type="text" name="inputText" class="input-text">
    <div class="buttons-div">
      <button class="dialog-button" type="submit">ok</button>
      <button autofocus class="dialog-button cancel-dialog-js-1" type="reset">cancel</button>
    </div>
  </form>

</dialog>
<dialog class="edit-folder-dialog">
  <form action="/changeFolderName" method="post" class="dialog-form">
    <p class="dialog-p">zmiana nazwy folderu <span class="change-rootname">{{getNamePath root}}</span> </p>
    <input type="hidden" name="root" value="{{root}}" />
    <input type="hidden" name="folderName" value="{{getNamePath root}}">
    <input type="text" name="inputText" class="input-text">
    <div class="buttons-div">
      <button class="dialog-button" type="submit">ok</button>
      <button autofocus class="dialog-button cancel-dialog-js-3" type="reset">cancel</button>
    </div>
  </form>

</dialog>
<dialog class="file-dialog">
  <form action="/savefile" method="post" class="dialog-form">
    <p class="dialog-p">nazwa nowego pliku</p>
    <input type="hidden" name="root" value="{{root}}" />
    <input type="text" name="inputText" class="input-text">
    <div class="buttons-div">
      <button class="dialog-button" type="submit">ok</button>
      <button autofocus class="dialog-button cancel-dialog-js-2" type="reset">cancel</button>
    </div>
  </form>

</dialog>
<script>
  const newFolderButton = document.querySelector('.new-folder-js')
  const newFileButton = document.querySelector('.new-file-js')
  const newFolderName = document.querySelector('.new-folder-name-js')
  const cancelDialogButton = document.querySelector('.cancel-dialog-js-1')
  const cancelDialogButton2 = document.querySelector('.cancel-dialog-js-2')
  const cancelDialogButton3 = document.querySelector('.cancel-dialog-js-3')
  const dialogFolderElement = document.querySelector('.folder-dialog')
  const dialogEditFolder = document.querySelector('.edit-folder-dialog')
  const dialogFileElement = document.querySelector('.file-dialog')
  const infoBtnElement = document.querySelector('.info-btn')
  const divInfoElement = document.querySelector('.info-msg')
  const deleteBtn = document.querySelector('.files-btn')
  const deleteBtn2 = document.querySelector('.folders-btn')
  newFolderButton.addEventListener("click", () => {
    dialogFolderElement.style.display = 'flex'
    dialogFolderElement.showModal()
  })
  cancelDialogButton.addEventListener("click", () => {
    dialogFolderElement.style.display = 'none'
    dialogFolderElement.close()
  })
  newFileButton.addEventListener("click", () => {
    dialogFileElement.style.display = 'flex'
    dialogFileElement.showModal()
  })
  cancelDialogButton2.addEventListener("click", () => {
    dialogFileElement.style.display = 'none'
    dialogFileElement.close()
  })
  newFolderName.addEventListener("click", () => {
    dialogEditFolder.style.display = 'flex'
    dialogEditFolder.showModal()
  })
  cancelDialogButton3.addEventListener("click", () => {
    dialogEditFolder.style.display = 'none'
    dialogEditFolder.close()
  })
  infoBtnElement.addEventListener("click", () => {
    divInfoElement.style.display = 'none'
  })
  function deleteFile(id) {
    const confirmAlert = window.confirm("Czy chcesz na pewno usunąć ten plik?")
    const form = document.querySelector('.delete-form')
    const hiddenInput = form.querySelector('[name="id"]');
    if (confirmAlert === true) {
      hiddenInput.value = id;
      deleteBtn.type = 'submit'
      form.submit()
    } else {
    }
  }
  function deleteFolder(id) {
    const confirmAlert = window.confirm("Czy chcesz na pewno usunąć ten folder?")
    const form = document.querySelector('.delete-folder')
    const hiddenInput = form.querySelector('[name="id"]');
    if (confirmAlert === true) {
      hiddenInput.value = id;
      deleteBtn2.type = 'submit'
      form.submit()
    } else {
    }
  }
</script>