<form method="get">
  <td>{{id}}</td>
  <td> <img src="{{img}}" alt="jpg" style="height:30px; width:30px;"> </td>
  <td>{{name}}</td>
  <td>{{size}}</td>
  <td>{{type}}</td>

  <td>
    <button class="button-table" formaction="/show" name="id" type="submit" value="{{id}}">SHOW</button>

  </td>

  <td><button class="button-table" formaction="/download" name="id" type="submit" value="{{id}}">DOWNLOAD</button></td>
  <td><button class="button-table" formmethod="POST" formaction="/info" name="id" type="submit"
      value="{{id}}">INFO</button></td>
  <td><button class="button-table" formaction="/delete" name="id" type="submit" value="{{id}}">DELETE</button></td>
</form>